<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1> {{ offer.title }} </h1>
    <!-- <p> {{ offer.description }} </p> -->
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary"> {{ getDummyDate() | date }} </ion-text>
      <span>to</span>
      <ion-icon class="space-left" name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary"> {{ getDummyDate() | date }} </ion-text>
    </div>
  </ion-label>
</ion-item>
